body {
    background-color: #F8ECAE;
}

#bgBox {
    position: absolute;
    width: 1600px;
    height: 300px;
    left: 140px;
    top: 350px;
    background: #DDD4A2;
    border-radius: 73px;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    text-align: center;
    color: #BBBBBB;
}


/* GAME BUTTON */

#gameBtn {
    /* Rectangle 19 */
    position: absolute;
    width: 650px;
    height: 200px;
    left: 50px;
    top: 50px;
    padding: 0;
    border: none;
    background: #7F58AF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
}


/* CUSTOM BUTTON */

#customBtn {
    /* Rectangle 20 */
    position: absolute;
    width: 650px;
    height: 200px;
    left: 900px;
    top: 50px;
    padding: 0;
    border: none;
    background: #E84D8A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
}

#rec33 {
    /* Rectangle 33 */
    position: absolute;
    width: 1230px;
    height: 800px;
    left: 345px;
    top: 143px;
    background: #DDD4A2;
    border-radius: 73px;
}

#b1 {
    position: absolute;
    width: 1092px;
    height: 166px;
    left: 69px;
    top: 65px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
    line-height: 116px;
    text-align: center;
    background: #FEB326;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#b2 {
    position: absolute;
    width: 1092px;
    height: 190px;
    left: 69px;
    top: 281px;
    padding: 0;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    background: #FF4D4D;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#b3 {
    position: absolute;
    width: 1092px;
    height: 190px;
    left: 69px;
    top: 521px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
    background: #D35BAA;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/* LOBBY CSS */

#gameName {
    /* Name Game */
    position: absolute;
    left: 513px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
}

#inputBox {
    position: absolute;
    width: 700px;
    height: 125px;
    left: 279px;
    top: 233px;
    padding: 0;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#roomIDBox {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 379px;
    top: 409px;
    padding: 0;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#create {
    /* Rectangle 21 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 450px;
    height: 125px;
    left: 107px;
    top: 612px;
    background: #FE7226;
    padding: 0;
    border: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#join {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 450px;
    height: 125px;
    left: 684px;
    top: 612px;
    background: #FEB326;
    padding: 0;
    border: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

/* GAME ROOM */

#rec34 {
    /* Rectangle 34 */
    position: absolute;
    width: 1648px;
    height: 969px;
    left: 136px;
    top: 55px;

    background: #FFF7CB;
    border-radius: 73px;
}

#rec26 {
    /* Rectangle 26 */

    position: absolute;
    width: 487px;
    height: 127px;
    left: 581px;
    top: 33px;

    background: #7F58AF;
    border-radius: 20px;
}

#roomText {
    position: absolute;
    width: 166px;
    height: 58px;
    left: 160px;
    top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}