doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Choose Drink
    script(src='../socket.io/socket.io.js')
    link(href='css/styles.css', rel='stylesheet')
  body
    p#customP  
    button#pump1
    span#pump1Text(contenteditable='true') PUMP: 1
    button#pump2
    span#pump2Text(contenteditable='true') PUMP: 2
    button#pump3
    span#pump3Text(contenteditable='true') PUMP: 3
    button#pump4
    span#pump4Text(contenteditable='true') PUMP: 4
    button#pump5
    span#pump5Text(contenteditable='true') PUMP: 5
    button#nextBtn Next
    button#backBtn Back
    script(src='./js/pump.js')