head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Game
  link(rel='stylesheet' href='css\bootstrap.min.css')
h1 ...
style.
  body{
  padding: 0;
  margin: 0;
  position: relative;
  background-color:rgba(248, 236, 174, 1);
  }
  h1{
  font-size: 40rem;
  direction: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  }
  @media  screen and (max-width:800px) {
  body{
  background-color:rgba(248, 236, 174, 1);
  position: relative;
  width: 700px;
  height: 200px;
  }
  h1{
  font-size: 34rem;
  padding-left: 30px;
  margin-top: -50px;
  }
  }
script(src='js\bootstrap.min.js')
