doctype html
html
  head
    // <meta charset="utf-8">
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Main
    script(src='../socket.io/socket.io.js')
    link(href='/css/styles.css', rel='stylesheet')
  body
    #rec34
      #rec26
        p#roomText Room ID:
        p#roomNum
      #startRoom
        p#startText Start
    script.
      function randomIntFromInterval(min, max) { // min and max included
      return Math.floor(Math.random() * (max - min + 1) + min)
      }
      document.getElementById("roomNum").innerHTML = randomIntFromInterval(10000, 99999);