doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Main
    //- script(src='../socket.io/socket.io.js')
    //- link(href='/css/styles.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    #bgBox
      a(href='/game')
        button#gameBtn Games
      a(href='/custom')
        button#customBtn Custom
    //- script(src='./js/main.js')