html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Game
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet' href='css/bootstrap.min.css')
  body
    .box-in
      img.fairyTable(src='img\Fairytale.png')
      h1.king You are the King
    a(href='end.html')
      button.end-turn End turn
    a(href='custom.html')
      button.custom
        img.glass(src='img/Cocktail.png')
        | Custom
    style.
      body{
      background: #DDD4A2;
      position: relative;
      width: 1980px;
      height: 1080px;
      }
      .box-in{
      position: absolute;
      width: 1230px;
      height: 800px;
      left: 345px;
      top: 78px;
      align-items: center;
      text-align: center;
      background: rgba(255, 247, 203, 1);
      border-radius: 73px;
      }
      .fairyTable{
      position: absolute;
      width: 400px;
      height: 400px;
      left: 36%;
      top: 16%;
      background: url(.png);
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
      }
      .king{
      position: absolute;
      top:550px;
      left: 270px;
      font-size: 100px;
      }
      .end-turn{
      position: absolute;
      top:950px;
      left: 450px;
      width: 350px;
      height: 140px;
      background: rgba(211, 91, 170, 1);
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:70px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 40px;
      color: #FFFFFF;
      border: 0px;
      }
      .custom{
      position: absolute;
      top:950px;
      left: 1120px;
      width: 350px;
      height: 140px;
      background: rgba(232, 77, 138, 1);
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:70px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      border: 0px;
      }
      a{
      color: #FFFFFF;
      }
      @media  screen and (max-width:800px) {
      body{
      background: #DDD4A2;
      position: relative;
      width: 700px;
      height: 200px;
      }
      .box-in{
      position: absolute;
      width: 600px;
      height: 700px;
      left: 80px;
      top: 30%;
      align-items: center;
      text-align: center;
      background: rgba(255, 247, 203, 1);
      border-radius: 73px;
      }
      .fairyTable{
      position: absolute;
      width: 320px;
      height: 320px;
      left: 150px;
      top: 16%;
      background: url(.png);
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
      }
      .king{
      position: absolute;
      width: 500px;
      top:500px;
      left: 60px;
      font-size: 60px;
      }
      .end-turn{
      position: absolute;
      top:790px;
      left: 80px;
      width: 250px;
      height:100px;
      background: rgba(211, 91, 170, 1);
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:50px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 30px;
      color: #FFFFFF;
      border: 0px;
      }
      .custom{
      position: absolute;
      top:790px;
      left: 420px;
      width: 250px;
      height:100px;
      background: rgba(232, 77, 138, 1);
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:50px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      border: 0px;
      }
      .glass{
      width: 68px;
      }
      a{
      color: #FFFFFF;
      }
      }
    script(src='js/bootstrap.min.js')