doctype html
html
  head
    meta(charset='utf-8')
    title Game Lists
    script(src='../socket.io/socket.io.js')
    link(href='/css/styles.css', rel='stylesheet')
  body
    #rec33
      a(href='/game/lobby')
        button#b1 King Game
      button#b2 Truth of drink
      button#b3 Coming Soon!
    script.
      // Make connection
      var host = window.location.host;
      var socket = io.connect('http://' + host);
      // Query DOM
      var kingBtn = document.getElementById('b1'),
      truthBtn = document.getElementById('b2'),
      otherBtn = document.getElementById('b3');
      // Emit events
      kingBtn.addEventListener('click', function() {
      socket.emit('kingBtn');
      });
      truthBtn.addEventListener('click', function() {
      socket.emit('truthBtn');
      });
      otherBtn.addEventListener('click', function() {
      socket.emit('otherBtn');
      });