html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Game
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    .box-in
      a(href='/game/lobby')
        button.box-in-1#b1 King Game
      a(href='')
      button.box-in-2#b2 Truth or drink
      a(href='')
      button.box-in-3#b3 Other
    a(href='/')
      button.home
        img(src='img/VectorHome.png', width='80', height='68')
    style.
      body{
      background: #F8ECAE;
      position: relative;
      width: 1980px;
      height: 1080px;
      }
      .box-in{
      position: absolute;
      width: 1230px;
      height: 800px;
      left: 345px;
      top: 78px;
      align-items: center;
      text-align: center;
      background: #DDD4A2;
      border-radius: 73px;
      }
      .box-in-1{
      position: absolute;
      width: 1092px;
      height: 166px;
      left: 69px;
      top: 65px;
      background: #FEB326;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 116px;
      color: #FFFFFF;
      border: 0px;
      }
      .box-in-2{
      position: absolute;
      width: 1092px;
      height: 190px;
      left: 69px;
      top: 281px;
      background: #FF4D4D;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 116px;
      color: #FFFFFF;
      border: 0px;
      }
      .box-in-3{
      position: absolute;
      width: 1092px;
      height: 190px;
      left: 69px;
      top: 521px;
      background: #D35BAA;;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 116px;
      color: #FFFFFF;
      border: 0px;
      }
      .home{
      position: absolute;
      width: 300px;
      height: 125px;
      left: 810px;
      top: 921px;
      background: #6482EB;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      border: 0px;
      }
      @media  screen and (max-width:800px) {
      body{
      background: #DDD4A2;
      position: relative;
      width: 700px;
      height: 200px;
      }
      .box-in{
      position: absolute;
      width: 600px;
      height: 700px;
      left: 80px;
      top: 30%;
      align-items: center;
      text-align: center;
      background: #E5E5E5;
      border-radius: 73px;
      }
      .box-in-1{
      position: absolute;
      width: 500px;
      height: 130px;
      left: 53px;
      top: 65px;
      background: #FEB326;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 76px;
      line-height: 116px;
      color: #FFFFFF;
      border: 0px;
      }
      .box-in-2{
      position: absolute;
      width: 500px;
      height: 130px;
      left: 53px;
      top: 288px;
      background: #FF4D4D;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 66px;
      line-height: 116px;
      color: #FFFFFF;
      border: 0px;
      }
      .box-in-3{
      position: absolute;
      width: 500px;
      height: 130px;
      left: 53px;
      top: 521px;
      background: #D35BAA;;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 76px;
      line-height: 116px;
      color: #FFFFFF;
      border: 0px;
      }
      .home{
      position: absolute;
      top:790px;
      left: 420px;
      width: 250px;
      height:100px;
      background: #6482EB;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      border: 0px;
      }
      }
    script(src='js\\bootstrap.min.js')
    script.
      // Make connection
      var host = window.location.host;
      var socket = io.connect('http://' + host);
      // Query DOM
      var kingBtn = document.getElementById('b1'),
      truthBtn = document.getElementById('b2'),
      otherBtn = document.getElementById('b3');
      // Emit events
      kingBtn.addEventListener('click', function() {
      socket.emit('kingBtn');
      });
      truthBtn.addEventListener('click', function() {
      socket.emit('truthBtn');
      });
      otherBtn.addEventListener('click', function() {
      socket.emit('otherBtn');
      });