html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Game
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet' href='css/bootstrap.min.css')
  body
    .box-in
      img.fairyTable#img(src='img/Fairytale.png')
      h1.rank#title You are number..
      h1.no-1#id ...
    a(href='/')
      button.exit#backBtn Exit
    button.new#newBtn New
    style.
      body{
      background: #F8ECAE;
      position: relative;
      width: 1980px;
      height: 1080px;
      }
      .box-in{
      position: absolute;
      width: 1230px;
      height: 800px;
      left: 345px;
      top: 78px;
      align-items: center;
      text-align: center;
      background: #FFF7CB;
      border-radius: 73px;
      }
      .fairyTable{
      position: absolute;
      width: 200px;
      height: 200px;
      left: 42%;
      top: 18%;
      background: url(.png);
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
      display:none;
      }
      .king{
      position: absolute;
      top:550px;
      left: 270px;
      font-size: 100px;
      }
      .new{
      position: absolute;
      top:920px;
      left: 1280px;
      width: 280px;
      height: 140px;
      background: #35a4d4;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:70px;
      line-height: 29px;
      display: none;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      border: 0px;
      padding-left: 80px
      }
      .rank{
      position: absolute;
      width: 1000px;
      height: 39px;
      left: 110px;
      top: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      line-height: 39px;
      /* identical to box height */
      text-align: center;
      color: #303030;
      }
      .no-1{
      position: absolute;
      width: 900px;
      height: 155px;
      left: 182px;
      top: 400px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 400px;
      line-height: 155px;
      /* identical to box height */
      text-align: center;
      color: #333333;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
      }
      .exit{
      position: absolute;
      top:920px;
      left: 800px;
      width: 350px;
      height: 140px;
      background: rgba(120, 120, 120, 1);
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:70px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 110px;
      color: #FFFFFF;
      border: 0px;
      }
      @media  screen and (max-width:800px) {
      body{
      background: #F8ECAE;
      position: relative;
      width: 700px;
      height: 200px;
      }
      .fairyTable{
      position: absolute;
      width: 200px;
      height: 200px;
      left: 25%;
      top: 18%;
      background: url(.png);
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
      display:show;
      }
      .box-in{
      position: absolute;
      width: 400px;
      height: 700px;
      left: 1%;
      top: 30%;
      align-items: center;
      text-align: center;
      background: FFF7CB;
      border-radius: 73px;
      }
      .rank{
      position: absolute;
      width: 600px;
      height: 39px;
      left: -24%;
      top: 100px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 39px;
      /* identical to box height */
      text-align: center;
      color: #303030;
      }
      .no-1{
      position: absolute;
      width: 100px;
      height: 155px;
      left: 15%;
      top: 300px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 380px;
      line-height: 155px;
      /* identical to box height */
      text-align: center;
      color: #333333;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
      }
      .exit{
      position: absolute;
      top:790px;
      left: 2%;
      width: 160px;
      height:100px;
      background: rgba(120, 120, 120, 1);
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:65px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 20px;
      color: #FFFFFF;
      border: 0px;
      }
      .new{
      position: absolute;
      position: absolute;
      top:790px;
      left: 33.5%;
      width: 160px;
      height:100px;
      background: #35a4d4;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size:65px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 20px;
      color: #FFFFFF;
      border: 0px;
      }
      }
  script(src='js/game.js')