body {
    background-color: #F8ECAE;
}

#bgBox {
    position: absolute;
    width: 1600px;
    height: 300px;
    left: 140px;
    top: 350px;
    background: #DDD4A2;
    border-radius: 73px;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    text-align: center;
    color: #BBBBBB;
}


/* GAME BUTTON */

#gameBtn {
    /* Rectangle 19 */
    position: absolute;
    width: 650px;
    height: 200px;
    left: 50px;
    top: 50px;
    padding: 0;
    border: none;
    background: #7F58AF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
}


/* CUSTOM BUTTON */

#customBtn {
    /* Rectangle 20 */
    position: absolute;
    width: 650px;
    height: 200px;
    left: 900px;
    top: 50px;
    padding: 0;
    border: none;
    background: #E84D8A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
}

#rec33 {
    /* Rectangle 33 */
    position: absolute;
    width: 1230px;
    height: 800px;
    left: 345px;
    top: 143px;
    background: #DDD4A2;
    border-radius: 73px;
}

#b1 {
    position: absolute;
    width: 1092px;
    height: 166px;
    left: 69px;
    top: 65px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
    line-height: 116px;
    text-align: center;
    background: #FEB326;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#b2 {
    position: absolute;
    width: 1092px;
    height: 190px;
    left: 69px;
    top: 281px;
    padding: 0;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    background: #FF4D4D;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#b3 {
    position: absolute;
    width: 1092px;
    height: 190px;
    left: 69px;
    top: 521px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
    background: #D35BAA;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/* LOBBY CSS */

#gameName {
    /* Name Game */
    position: absolute;
    left: 513px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
}

#inputBox {
    position: absolute;
    width: 700px;
    height: 125px;
    left: 279px;
    top: 233px;
    padding: 0;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#roomIDBox {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 379px;
    top: 409px;
    padding: 0;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#create {
    /* Rectangle 21 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 450px;
    height: 125px;
    left: 107px;
    top: 612px;
    background: #FE7226;
    padding: 0;
    border: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#join {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 450px;
    height: 125px;
    left: 684px;
    top: 612px;
    background: #FEB326;
    padding: 0;
    border: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}


/* GAME ROOM */

#rec34 {
    /* Rectangle 34 */
    position: absolute;
    width: 1648px;
    height: 969px;
    left: 136px;
    top: 55px;
    background: #FFF7CB;
    border-radius: 73px;
}

#rec26 {
    /* Rectangle 26 */
    position: absolute;
    width: 487px;
    height: 127px;
    left: 581px;
    top: 23px;
    background: #7F58AF;
    border-radius: 20px;
}

#roomText {
    position: absolute;
    width: 139px;
    height: 39px;
    left: 174px;
    top: -10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

#roomNum {
    position: absolute;
    width: 166px;
    height: 53px;
    left: 160px;
    top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}


/* Custom Drink  */

#customP {
    /* Rectangle 33 */
    position: absolute;
    width: 1784px;
    height: 781px;
    left: 68px;
    top: 35px;
    background: #FFF7CB;
    border-radius: 73px;
}

#pump1 {
    position: absolute;
    width: 276px;
    height: 721px;
    left: 170px;
    top: 80px;
    background: #ddff00;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 60px 15px 15px;
    padding: 0;
    border: none;
}

#pump1Text {
    /* Rectangle 45 */
    position: absolute;
    width: 276px;
    height: 42px;
    left: 171px;
    top: 760px;
    background: #000000;
    border-radius: 0px 0px 15px 15px;
    padding: 0;
    border: none;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pump2 {
    position: absolute;
    width: 276px;
    height: 721px;
    left: 496px;
    top: 80px;
    background: #2fff00;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 60px 15px 15px;
    padding: 0;
    border: none;
}

#pump2Text {
    position: absolute;
    width: 276px;
    height: 42px;
    left: 496px;
    top: 760px;
    background: #000000;
    border-radius: 0px 0px 15px 15px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pump3 {
    position: absolute;
    width: 276px;
    height: 721px;
    left: 823px;
    top: 80px;
    background: #02d9ff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 60px 15px 15px;
    padding: 0;
    border: none;
}

#pump3Text {
    position: absolute;
    width: 276px;
    height: 42px;
    left: 823px;
    top: 760px;
    background: #000000;
    border-radius: 0px 0px 15px 15px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pump4 {
    position: absolute;
    width: 276px;
    height: 721px;
    left: 1149px;
    top: 80px;
    background: #f900fd;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 60px 15px 15px;
    padding: 0;
    border: none;
}

#pump4Text {
    position: absolute;
    width: 276px;
    height: 42px;
    left: 1149px;
    top: 760px;
    background: #000000;
    border-radius: 0px 0px 15px 15px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pump5 {
    position: absolute;
    width: 276px;
    height: 721px;
    left: 1475px;
    top: 80px;
    background: #700052;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 60px 15px 15px;
    padding: 0;
    border: none;
}

#pump5Text {
    position: absolute;
    width: 276px;
    height: 42px;
    left: 1475px;
    top: 760px;
    background: #000000;
    border-radius: 0px 0px 15px 15px;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nextBtn {
    position: absolute;
    width: 300px;
    height: 125px;
    left: 1208px;
    top: 878px;
    background: #4BD960;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    border: none;
}

#editBtn {
    position: absolute;
    width: 267px;
    height: 125px;
    left: 809px;
    top: 878px;
    background: #EB8464;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    border: none;
}

#backBtn {
    position: absolute;
    width: 299px;
    height: 125px;
    left: 410px;
    top: 878px;
    background: #64C5EB;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    border: none;
}


/* Make Drink */

#box1 {
    /* Rectangle 33 */
    position: absolute;
    width: 786px;
    height: 969px;
    left: 136px;
    top: 55px;
    background: #DDD4A2;
    border-radius: 73px;
}

#pump1Drink {
    /* Rectangle 39 */
    position: absolute;
    width: 289px;
    height: 145px;
    left: 179px;
    top: 117px;
    background: #C4C4C4;
    border-radius: 40px;
}

#pump2Drink {
    /* Rectangle 35 */
    position: absolute;
    width: 289px;
    height: 145px;
    left: 179px;
    top: 292px;
    background: #C4C4C4;
    border-radius: 40px;
}

#pump3Drink {
    position: absolute;
    width: 289px;
    height: 145px;
    left: 179px;
    top: 467px;
    background: #C4C4C4;
    border-radius: 40px;
}

#pump4Drink {
    /* Rectangle 37 */
    position: absolute;
    width: 289px;
    height: 145px;
    left: 179px;
    top: 642px;
    background: #C4C4C4;
    border-radius: 40px;
}

#pump5Drink {
    /* Rectangle 38 */
    position: absolute;
    width: 289px;
    height: 145px;
    left: 179px;
    top: 817px;
    background: #C4C4C4;
    border-radius: 40px;
}

#mlPump1 {
    /* 1 */
    position: absolute;
    width: 23px;
    height: 46px;
    left: 710px;
    top: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

#mlPump2 {
    /* 1 */
    position: absolute;
    width: 23px;
    height: 46px;
    left: 711px;
    top: 294px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

#mlPump3 {
    /* 1 */
    position: absolute;
    width: 23px;
    height: 46px;
    left: 710px;
    top: 480px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

#mlPump4 {
    /* 1 */
    position: absolute;
    width: 23px;
    height: 46px;
    left: 710px;
    top: 655px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

#mlPump5 {
    /* 1 */
    position: absolute;
    width: 23px;
    height: 46px;
    left: 710px;
    top: 830px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

#pump1Name {
    /* Pump:1 */
    position: absolute;
    width: 173px;
    height: 58px;
    left: 237px;
    top: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}

#pump2Name {
    /* Pump:2 */
    position: absolute;
    width: 180px;
    height: 58px;
    left: 237px;
    top: 306px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}

#pump3Name {
    /* Pump:3 */
    position: absolute;
    width: 182px;
    height: 58px;
    left: 237px;
    top: 481px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}

#pump4Name {
    /* Pump:4 */
    position: absolute;
    width: 182px;
    height: 58px;
    left: 237px;
    top: 656px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}

#pump5Name {
    /* Pump:5 */
    position: absolute;
    width: 181px;
    height: 58px;
    left: 237px;
    top: 827px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}

#plusSignPump1 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 797px;
    top: 190px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#minusSignPump1 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 600px;
    top: 350px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#plusSignPump2 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 797px;
    top: 350px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#minusSignPump2 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 600px;
    top: 190px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#plusSignPump3 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 797px;
    top: 535px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#minusSignPump3 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 600px;
    top: 535px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#plusSignPump4 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 797px;
    top: 710px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#minusSignPump4 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 600px;
    top: 710px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#plusSignPump5 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 797px;
    top: 885px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}

#minusSignPump5 {
    /* Rectangle 46 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 600px;
    top: 885px;
    background: #C4C4C4;
    padding: 0;
    border: none;
}